.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    right: 0;
    min-width: 100%;
    background-color: orange;
    overflow: auto;
    z-index: 1;
}

#loginDropdown {
    display: none;
}

#signupDropdown {
    display: none;
}

.show {
    display: block;
}