.navbar {
background-color: #1C2331;
margin-bottom: 0;
padding-bottom: 0;
border-radius: 0;
}

.navbar a,
.navbar-brand {
    color: #ffffff;
}

.navbar li.active a {
    color: #b4d6f7;
}

.navbar li a:hover {
    color: #1C2331;
}