.dropdown {
    position: relative;
    display: inline-block;
}

.navbar {
background-color: lightgoldenrodyellow;
}

.dropdown-content {
    position: absolute;
    right:3%;
    min-width: 100%;
    border: 1px solid black;
    padding: 20px;
    top: 50px; 
    background-color: darkkhaki;
    overflow: auto;
    z-index: 1;
}

#loginDropdown {
    display: none;
}

#signupDropdown {
    display: none;
}

.show {
    display: block;
}