.navbar {
    background-color: lightgoldenrodyellow;
    margin-bottom: 0;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: lightgoldenrodyellow;
    
}

#brand {
    font-size: 24px;
}
  
ul li a {
    color:black;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
}
  

ul li a:hover {
    background-color: darkkhaki;
    text-decoration: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown ul {
    list-style-type: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block;
}
