<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
    
        {% block head %}
        {% endblock %}
    </head>
    <body data-show-form="{{ show }}">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">FilmGraph</a>
                </div>
                <ul class="nav navbar-nav">
                    <li id="Home"><a href="{{ url_for('home') }}">Home</a></li>
                    <li id="Collections"><a href="{{ url_for('collection') }}">Collections</a></li>
                    <li id="Stats"><a href="{{ url_for('stats') }}">Stats</a></li>
                    <li id="Friends"><a href="{{ url_for('friends') }}">Friends</a></li>
                    <li class="nav-item"><a href="{{ url_for('messages') }}">Messages</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="Profile"><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li id="Logout"><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
        </nav>
    
        {% block content %}
        {% endblock %}

        <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/toggleDropdown.js') }}"></script>
    </body>
</html>