{% extends "base.html" %}

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addFilmDropdown.css') }}">  

    <title>FilmGraph Collections Page</title>
    {% endblock %}

    {% block content %}
    <h1 class="pageHeading">Collections</h1>
    
    <div class="container">
        <input id="searchFilm" class="form-control glyphicon glyphicon-search" type="text" placeholder="Find film in collection &#xe003">
        <br>
        <div id="filmData" class="row">
            <!--Filled with client side script getCollectionQuery.js-->
        </div>
        <br>
        <div class="dropdown">
            <button id="addBtn" class="btn btn-secondary" type="button">Add new film</button>
            <div id="addDropdown" class="dropdown-content drop-left">
                <form name="addFilmForm" action="{{ url_for('add_film') }}" method="post">
                    <!--includes the csrf token and hidden film data fields-->
                    {{ add_form.hidden_tag() }}
                    <p>
                        {{ add_form.film_title.label }}<br>
                        {{ add_form.film_title }}
                        {% for error in add_form.film_title.errors %}
                        <span style="color: #d9534f;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ add_form.release_year.label }}<br>
                        {{ add_form.release_year }}
                        {% for error in add_form.release_year.errors %}
                        <span style="color: #d9534f;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ add_form.watch_date.label }}<br>
                        {{ add_form.watch_date }}
                        {% for error in add_form.watch_date.errors %}
                        <span style="color: #d9534f;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ add_form.user_rating.label }}
                            {% for subfield in add_form.user_rating %}
                            <span>
                                {{ subfield.label }}
                                {{ subfield }} &ensp;
                            <span>
                            {% endfor %}
                        {% for error in add_form.user_rating.errors %}
                        <span style="color: #d9534f;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ add_form.user_review.label }}
                        {{ add_form.user_review }}
                        {% for error in add_form.user_review.errors %}
                        <span style="color: #d9534f;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ add_form.category.label }}
                        {{ add_form.category }}
                        {% for error in add_form.category.errors %}
                        <span style="color: #d9534f;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p> {{ add_form.submit_film() }}</p>
                </form>
            </div>
        </div>
    </div>

    <section class="container">
        <h2 class="sectionHeading">Watched</h2>
        <div class="movie-catalog">
            {% for film in watchList %}
            <div class="movie-card">
                <p>{{film.title}}</p>
                <img src={{film.poster}} alt="{{'poster image of ' + film.title}}">
            </div>
            {% endfor %}
        </div>
        <h2 class="sectionHeading">To Watch</h2>
        <div class="movie-catalog">
            {% for film in planList %}
            <div class="movie-card">
                <p>{{film.title}}</p>
                <img src={{film.poster}} alt="{{'poster image of ' + film.title}}">
            </div>
            {% endfor %}
        </div>
        <h2 class="sectionHeading">Favourites</h2>
        <div class="movie-catalog">
            {% for film in favList %}
            <div class="movie-card">
                <p>{{film.title}}</p>
                <img src={{film.poster}} alt="{{'poster image of ' + film.title}}">
            </div>
            {% endfor %}
        </div>
    </section>

        <script src="{{ url_for('static', filename='js/addFilmDropdown.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/filmRequest.js') }}"></script>
        <script src="{{ url_for('static', filename='js/getCollectionQuery.js') }}"></script>
        {% endblock %}