{% extends "base.html" %}

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addFilmDropdown.css') }}">  

    <title>FilmGraph Collections Page</title>
    {% endblock %}

    {% block content %}
    <h1 class="pageTitle">My Collections</h1>
    
    <form action="/action_page.php">
        <input type="text" placeholder="Find film in collection" name="search">
    </form>
    <br>
    <div class="dropdown">
        <button id="addBtn" type="button">Add new film</button>
        <div id="addDropdown" class="dropdown-content drop-left">
            <form>
                <label for="filmTitle">Name of film: </label>
                <input type="text" id="filmTitle" name="filmTitle">
                <br>
                <label for="releaseYear">Release Year: </label>
                <input type="number" id="releaseYear" name="filmYear" min="1900">
                <br>
                <label for="watchDate">Watch Date (if movie seen): </label>
                <input type="date" id="watchDate" name="watchDate">
                <br>
                <label for="starRating">Rating: </label>
                <input type="radio" id="star1" name="starRating" value="1">
                <label for="star1">1</label>
                <input type="radio" id="star2" name="starRating" value="2">
                <label for="star2">2</label>
                <input type="radio" id="star3" name="starRating" value="3">
                <label for="star3">3</label>
                <input type="radio" id="star4" name="starRating" value="4">
                <label for="star4">4</label>
                <input type="radio" id="star5" name="starRating" value="5">
                <label for="star5">5</label>
                <br>
                <label for="review">How was it?</label>
                <input type="text" id="review" name="filmReview">
                <br>
                <input type="radio" id="addWatched" name="addToCategory" value="add to watched">
                <label for="addWatched">already watched</label><br>
                <input type="radio" id="addPlanned" name="addToCategory" value="add to planned">
                <label for="addPlanned">planning to watch</label><br>
                <button type="submit">Add</button>
            </form> 
        </div>
    </div>

    <section class="container">
        <h2>To watch</h2>
        <div class="movie-catalog">
            {% for movie in watchList %}
            <div class="movie-card">{{movie}}</div>
            {% endfor %}
        </div>
        <h2>Favourites</h2>
        <div class="movie-catalog">
            {% for movie in favList %}
            <div class="movie-card">{{movie}}</div>
            {% endfor %}
        </div>

        <script src="{{ url_for('static', filename='js/addFilmDropdown.js') }}"></script>
        {% endblock %}