<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width", initial-scale="1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">  

    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css') }}">


    <title>FilmGraph Friends Page</title>

</head> 
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">FilmGraph</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('collection') }}">Collections</a></li>
                <li><a href="{{ url_for('stats') }}">Stats</a></li>
                <li class="active"><a href="{{ url_for('friends') }}">Friends</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('profile') }}">Profile</a></li>
          </ul>
        </div>
    </nav>

    <ul>
        <h1 class="pageTitle">My Friends</h1>
        <ul>
            <li><img src="placeholder.jpg" alt="Feature" style="width:20px; height:20px; vertical-align:middle; margin-right:8px;">Friend 1</li>
            <li><img src="placeholder.jpg" alt="Feature" style="width:20px; height:20px; vertical-align:middle; margin-right:8px;">Friend 2</li>
            <li><img src="placeholder.jpg" alt="Feature" style="width:20px; height:20px; vertical-align:middle; margin-right:8px;">Friend 3</li>
            <li><img src="placeholder.jpg" alt="Feature" style="width:20px; height:20px; vertical-align:middle; margin-right:8px;">Friend 4</li>
            <li><img src="placeholder.jpg" alt="Feature" style="width:20px; height:20px; vertical-align:middle; margin-right:8px;">Friend 5</li>
            <li><img src="placeholder.jpg" alt="Feature" style="width:20px; height:20px; vertical-align:middle; margin-right:8px;">Friend 6</li>
            <li><img src="placeholder.jpg" alt="Feature" style="width:20px; height:20px; vertical-align:middle; margin-right:8px;">Friend 7</li>
            <li><img src="placeholder.jpg" alt="Feature" style="width:20px; height:20px; vertical-align:middle; margin-right:8px;">Friend 8</li>
            <li><img src="placeholder.jpg" alt="Feature" style="width:20px; height:20px; vertical-align:middle; margin-right:8px;">Friend 9</li>
            <li><img src="placeholder.jpg" alt="Feature" style="width:20px; height:20px; vertical-align:middle; margin-right:8px;">Friend 10</li>
          </ul>
    </ul>

    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>


</body>
</html>