{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css') }}">

<title>FilmGraph Profile Page</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="pageTitle">@{{user.username}}</h1>
            <p>{{user.bio}}</p>
        </div>
    </div>

    <h2 class="sectionHeading">My Collections</h2>
    <section class="container">
        <h2 class="sectionHeading">Watched</h2>
        <div class="movie-catalog">
            {% if watchList|length == 0 %}
                <p>No films here yet.</p>
            {% endif %}

            {% for film in watchList %}
            <div class="movie-card">
                <p>{{film.title}}</p>
                <img src={{film.poster}} alt="{{'poster image of ' + film.title}}">
            </div>
            {% endfor %}
        </div>
        <h2 class="sectionHeading">To Watch</h2>
        <div class="movie-catalog">
            {% if planList|length == 0 %}
                <p>No films here yet.</p>
            {% endif %}

            {% for film in planList %}
            <div class="movie-card">
                <p>{{film.title}}</p>
                <img src={{film.poster}} alt="{{'poster image of ' + film.title}}">
            </div>
            {% endfor %}
        </div>
    </section>
    <h2 class="sectionHeading">My Friends</h2>
        {% if friends|length == 0 %}
            <p>No friends here yet.</p>
        {% endif %}
    <ul>
        {% for friend in friends %}
        <li style="list-style: none; padding: 0; margin: 16px 0; font-size: 1.2em;">
            <img src="{{ friend.image or url_for('static', filename='images/placeholder.jpg') }}"
            style="width:32px; height:32px; vertical-align:middle; margin-right:10px;">
            {{friend.username}}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}