<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width", initial-scale="1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/container.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hero.css') }}">


    <title>FilmGraph Welcome Page</title>

</head> 
<body data-show-dropdown="{{ show }}">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">FilmGraph</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a id="loginBtn" href="#">Login <span class="caret"></span></a></li>
                <li class="dropdown"><a id="signupBtn" href="#">Sign Up <span class="caret"></span></a></li>
            </ul>
            <div id="loginDropdown" class="dropdown-login">       
                <div id="loginForm" class="form-container">
                    <form name="login" action="" method="post">
                        <div class="form-group">
                            {{ lForm.hidden_tag() }}
                            <p>
                                {{ lForm.username(class_="form-control", size=20, placeholder="Username") }}
                                {% for error in login_errors.username %}
                                <span style="color:#d9534f;">{{ error }}</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ lForm.password(class_="form-control", size=20, placeholder="Password") }}
                                {% for error in login_errors.password %}
                                <span style="color:#d9534f;">{{ error }}</span>
                                {% endfor %}
                            </p>
                            <p> {{ lForm.submit_login(class="btn btn-primary form-control") }}</p>
                        </div>
                    </form>
                </div>
            </div>
            <div id="signupDropdown" class="dropdown-login">       
                <div id="signupForm" class="form-container">
                    <form name="signup" action="" method="post">
                        <div class="form-group">
                            {{ sForm.hidden_tag() }}
                            <p>
                                {{ sForm.username(class_="form-control", size=20, placeholder="Username")}}
                                {% for error in sForm.username.errors %}
                                <span style="color:#d9534f;">{{ error }}</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ sForm.password(class_="form-control", size=20, placeholder="Password")}}
                                {% for error in sForm.password.errors %}
                                <span style="color:#d9534f;">{{ error }}</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ sForm.confirmPassword(class_="form-control", size=20, placeholder="Confirm Password") }}
                                {% for error in sForm.confirmPassword.errors %}
                                <span style="color:#d9534f;">{{ error }}</span>
                                {% endfor %}
                            </p>
                            <p> {{ sForm.submit_signup(class="btn btn-primary form-control") }}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero-section container-fluid">
        <div class="row min-vh-100">
            <div class="col-md-6 h-100 hero-text">
                <p class="hero-bold">Welcome To</p>
                <h1 class="hero-bold">FilmGraph</h1>
                <p>For scenes that stay with you long after the credits roll</p>
            </div>
            <div class="col-md-6 hero-image">
                <img src="{{ url_for('static', filename='images/hero.png') }}" alt="Films" class="img-fluid">
            </div>
        </div>
    </section>
    
    <section class="feature-preview container">
        <p>We'll help you <strong>track films</strong> you've watched, <strong>analyse</strong> your binge stats, 
            and <strong>make friends</strong> to discover new films together.</p>

        <div class="row">
            <div class="col-md-6">
                <h1>Insightful Stats</h1>    
                <p>Description of feature.</p>
            </div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="Films" class="img-fluid">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="Films" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1>Create Collections</h1>    
                <p>Description of feature.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h1>Watch with Friends</h1>    
                <p>Description of feature.</p>
            </div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="Films" class="img-fluid">
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

</body>
</html>