<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width", initial-scale="1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/container.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hero.css') }}">


    <title>FilmGraph Welcome Page</title>

</head> 
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">FilmGraph</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a id="loginBtn" href="#">Login <span class="caret"></span></a>
                    <div id="loginDropdown" class="dropdown-content drop-right">       
                        <div id="loginForm" class="form-container">
                            <form>
                                <label for="loginEmail">Email:</label><br>
                                <input type="email" name="loginEmail" required><br><br>
                                <label for="loginPassword">Password:</label><br>
                                <input type="password" name="loginPassword" required><br><br>
                                <button type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="dropdown"><a id="signupBtn" href="#">Sign Up <span class="caret"></span></a>
                    <div id="signupDropdown" class="dropdown-content drop-right">       
                        <div id="signupForm" class="form-container">
                            <form>
                                <label for="signupUsername">Username:</label><br>
                                <input type="text" name="signupUsername" required><br><br>
                                <label for="signupEmail">Email:</label><br>
                                <input type="email" name="signupEmail" required><br><br>
                                <label for="signupPassword">Password:</label><br>
                                <input type="password" name="signupPassword" required><br><br>
                                <label for="signupConfirmPassword">Confirm Password:</label><br>
                                <input type="password" name="signupConfirmPassword" required><br><br>
                                <button type="submit">Signup</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="hero-section container-fluid">
        <div class="row min-vh-100">
            <div class="col-md-6 h-100 hero-text">
                <p class="hero-bold">Welcome To</p>
                <h1 class="hero-bold">FilmGraph</h1>
                <p>For scenes that stay with you long after the credits roll</p>
            </div>
            <div class="col-md-6 hero-image">
                <img src="hero.png" alt="Films" class="img-fluid">
            </div>
        </div>
    </section>
    
    <section class="feature-preview container">
        <p>We'll help you <strong>track films</strong> you've watched, <strong>analyse</strong> your binge stats, 
            and <strong>make friends</strong> to discover new films together.</p>

        <div class="row">
            <div class="col-md-6">
                <h1>Insightful Stats</h1>    
                <p>Description of feature.</p>
            </div>
            <div class="col-md-6">
                <img src="placeholder.jpg" alt="Feature">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="placeholder.jpg" alt="Feature">
            </div>
            <div class="col-md-6">
                <h1>Create Collections</h1>    
                <p>Description of feature.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h1>Watch with Friends</h1>    
                <p>Description of feature.</p>
            </div>
            <div class="col-md-6">
                <img src="placeholder.jpg" alt="Feature">
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

</body>
</html>